*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body{
    background: #242248;
}
.container{
    width: 350px;
    padding: 20px;
    border:3px solid rgb(0, 0, 0);                 
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    color: #3e3e3e;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar div{
    display: flex;
    align-items: center;

}
.arrow-img{
    width: 25px;
}
.heart-img{
    width: 25px;
}
 
.doted-img{
    width: 25px;
    margin-left: 15px;
}
.container h1{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
.review{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.review img{
    width: 18px;
}
.product-img{
    width: 100%;
    margin: 20px 0 10px 0;
    border-radius: 20px;
}
.container h3{
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
}
.select-size span{
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #777;
    margin: 10px 2px;
    border-radius: 5px;
}
.select-size span:hover{
    cursor: pointer;
    background: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ff6c78;
}
.select-color span{
    display: inline-block;
    margin: 10px 3px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.color1{
    background:red;
}

.color2{
    background: blue;
}
.color3{
    background: green;
}
.color4{
    background: yellow;
}
.color5{
    background: brown;
}
.color6{
    background: black;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price p{
    font-size: 22px;
    font-weight: 600;
}
.price a{
    text-decoration: none;
    background: #333;
    color: white;
    font-size: 14px;
    padding: 12px 15px;
    border-radius: 10px;

}